body {
	 font-family: 'Nunito Sans';
	 font-style: italic;
	 font-weight: 400;
	 src: url(https://fonts.gstatic.com/s/nunitosans/v12/pe0oMImSLYBIv1o4X1M8cce4E9RKdmwp.woff2) format('woff2');
}

.div-center{
	text-align: center;
}

.menu-pages{
  	border: 1px solid red;
}

.menu-welcome{
	text-align:center;
	border-bottom: 1px solid red;
}

.a{
	padding:20px;
}

a{
	padding:20px;
}



.cards-container{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
}

.card{
	 margin:5px;   
	 padding:5px;     
	 display: flex;
	 flex-direction: row;
	 justify-content:center;
}

.card_right_text{
    max-width: 200px;
    padding-left:5px;
    border-left: 1px solid;
	border-color:grey;
	color:white;
}

.card_left_img{
 	padding-right:3px;
 	padding-left:3px;
}

.card_img{
	width:243px;
	height:352px;
}

.posts-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
	flew-wrap: wrap;
}

.post{
    margin:5px;   
    padding:5px;     
    display: flex;
    flex-direction: row;
    justify-content:center;
}
   
.post_right_text{
     max-width: 200px;
     padding-left:5px;
     color:white;
}

.post_left_img{
     padding-right:3px;
     padding-left:3px;
}

.post_img{
   	width:243px;
   	height:352px;
}
.post-text{
	color:white;
}