<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/> -->
<link rel="icon" href="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charizard.png">
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Deck.build is a website that lets you build your TCG Pokémon Decks! Start by searching your favourite cards and then adding them to your custom decks.</h1>
		</div>
		<div>
			<!-- redirects to loginAppController - @XMapping ("/...") -->
			<h2><a th:href="@{/list_users}">List of all registered users</a></h2>
			<h2><a th:href="@{/home}">Home</a></h2>
			<h2><a th:href="@{/register}">Register</a></h2>
			<h2><a th:href="@{/login}">Login</a></h2>
		</div>
	</div>
</body>
</html>