<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<!-- <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/> -->
<link rel="icon" href="https://img.pokemondb.net/sprites/ruby-sapphire/normal/charizard.png">
<style>
	body {
		 margin:0px;
		 background-image: url("https://i.imgur.com/En05i0i.jpg");
		 background-size: cover;	
  	 }
  	 .logo{
	  	 display:flex;
	  	 flex-direction:row;
	  	 justify-content:center;
  	 }
  	 .logo-img{
  	 	width:400px; 
  	 	margin-top:30vh;
  	 	border: 5px solid rgba(220,220,220,0.0);
  	  	padding:2px;
  	 }
  	 .logo-img:hover{
  	 	border: 5px solid white;
		
  	 }
</style>
</head>
<body>
	<div class=logo>
		<a th:href="@{/home}"><img class="logo-img" src="https://i.imgur.com/7OCI36I.png"></a>
	</div>
</body>
</html>