<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LOGIN APP - search</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<link rel="icon" href="https://img.pokemondb.net/sprites/silver/normal/charizard.png">
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Search</h1>
		</div>
		<form th:action="@{/searchCards}" method="GET"
		style="max-width: 600px; margin: 0 auto;"
		th:object="${search}" >
			<div class="m-3">
				<div class="form-group row">
					<label class="col-form-label col-4">Name:</label>
					<div class="col-8">
						<input type="text" class="form-control" th:field="*{name}" required />
					</div>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</div>
			
			<h1>postForm</h1>
		</form>
	</div>
	
</body>
</html>